<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <h1>{{event.Title}}</h1>
        <div class="event">
            <div class="leader">
                <img src="{{ event.Avatar }}" alt="{{ event.Leader }} profile picture" />
                <h4>{{ event.Leader }}</h4>
            </div>
            <p>
                {{ event.Description }}
            </p>
            <small class="start">
                {{event['Start Time']}}
            </small>
        </div>
    <script>
        var start_times = document.querySelectorAll('.start');
        start_times.forEach(function(time) {
            var date = new Date(time.innerText);
            time.innerText = date.toLocaleString();
        });
    </script>
</body>
</html>